<% if @campaign.to_s == 'sustainableimpact' %>
  <p>
    At the Straubel Foundation, we aim to drive sustainability through science, engineering, and social innovation. If you are an emerging leader dedicated to creating a sustainable impact in your community, please fill out our brief (10-minute) pre-application here by midnight on Sunday, March 4th. Completing the pre-application will highlight your application and prioritize its review. Your input will also help evolve our awards’ benefits.
  </p>
<% else %>
  <p>
    At the Straubel Foundation, we aim to empower leaders and maximize the impact of their work. If you are an emerging leader dedicated to making an impact in your community, please fill out our brief (10-minute) pre-application here by midnight on Sunday, March 4th. Completing the pre-application will highlight your application and prioritize its review. Your input will also help evolve our awards’ benefits.
  </p>
<% end %>

<%= form_with(model: response, local: true) do |form| %>
  <% if response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
        <% response.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= question title: 'Name', name: 'name', outside_answer: true, type: 'text' %>

  <%= question title: 'Email', name: 'email', outside_answer: true, type: 'text', required: true %>

  <% @questions.each do |_name, question| %>
    <% if question[:campaigns].blank? || question[:campaigns].include?(@campaign) %>
      <%= question question %>
    <% end %>
  <% end %>

  <input type="hidden" name="response[session]" value="<%= @session_id %>">
  <input type="hidden" name="response[view]" value="<%= @view_id %>">

  <% if @campaign.present? %>
    <input type="hidden" name="response[campaign]" value="<%= @campaign %>">
  <% end %>

  <div class="actions">
    <%= form.submit 'Submit', class: 'sqs-donate-button sqs-suppress-edit-mode sqs-system-button sqs-editable-button', id: 'submit-button' %>
  </div>
<% end %>

<script>
    document.getElementById('submit-button').addEventListener('click', function(){
        createEvent({
            kind: 'submit',
            question: name
        });
    })
</script>