
<div class="question" id="<%= opts[:id] %>">
  <h2><%= opts[:title] %></h2>

  <% if opts[:type] == 'textarea' %>
    <textarea name="<%= opts[:fixed_name] %>"></textarea>
  <% else %>
    <input type="<%= opts[:type] %>" name="<%= opts[:fixed_name] %>">
  <% end %>

</div>

<script>
  initializeQuestion(<%= sanitize opts.to_json %>);
</script>
