
<div class="question" id="<%= opts[:id] %>">
  <h2><%= opts[:title] %></h2>

  <% if opts[:type] == 'textarea' %>
    <textarea name="<%= opts[:fixed_name] %>"></textarea>
  <% elsif opts[:type] == 'rank' %>
    <input type="hidden" name="<%= opts[:fixed_name] %>" class="result">

    <ul class="rank">
      <% opts[:options].each do |option| %>
        <li><%= option %></li>
      <% end %>

      <% if opts[:include_other] %>
        <li class="other">Other: <input type="text"></li>
      <% end %>
    </ul>
  <% elsif opts[:type] == 'checkbox' %>
    <% opts[:options].each do |option| %>
      <label><input type="checkbox" name="<%= opts[:fixed_name] %>[]" value="<%= option %>"> <%= option %></label> <br/>
    <% end %>

    <% if opts[:include_other] %>
      <label class="other"><input type="checkbox" name="<%= opts[:fixed_name] %>[]"> Other: <input type="text"></label> <br/>
    <% end %>
  <% else %>
    <input type="<%= opts[:type] %>" name="<%= opts[:fixed_name] %>">
  <% end %>

</div>

<script>
  document.addEventListener('turbolinks:load', function () {
      initializeQuestion(<%= sanitize opts.to_json %>);
  });
</script>
