<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @response.session %>
</p>

<p>
  <strong>View:</strong>
  <%= @response.view %>
</p>

<p>
  <strong>Answers:</strong>

<table>
  <% @response.answers.each do |key, value| %>
  <tr>
    <th><%= key %></th>
    <td>
      <% if value.is_a? Array %>
      <ul>
        <% value.each do |item| %>
        <li style="text-align: left">
          <%= item %>
        </li>
        <% end %>
      </ul>
      <% else %>
      <%= value %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
</p>

